[submodule "concours/finale_game"]
	path = concours/finale_game
	url = https://github.com/prologin/prologin2020_plante
[submodule "sadm"]
	path = sadm
	url = https://github.com/prologin/sadm
	branch = concours-2021
